body div #content {
    padding:1em;
    margin-bottom: 75px;
}

body {
  overflow-x: hidden;
}

body #searchBar {
  min-width: 250px;
  margin: 5px 2.5%;
  border-radius: 8px;
  border: 1px solid grey;
}

.buttons {
	border: hidden;
}

.disabled{
	color:black;
	background-color:#0000;
	border: 2px solid #0000;
	opacity:1;
}

select.disabled {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

select.disabled::-ms-expand {
  display: none;
}

.pure-form textarea[disabled], .pure-form input[type=text][disabled], .pure-form input[type=date][disabled], .pure-form select[disabled] {
	color:black;
	background-color:#0000;
	border: 1px solid #ccc;
	opacity:1;
}

.pure-menu-link:hover {
    background-color: #94b6b7!important;
}

select.disabled {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

select.disabled::-ms-expand {
  display: none;
}

#issueTableHeaders th {
  border: none;
}

#issueTable td {
  border: none;
}

#issueTable tbody tr:nth-child(even){
  background-color: whitesmoke;
}

#issueTable tbody tr:nth-child(odd){
  background-color: mintcream;
}

#issueTable {
  border: none;
  width: 95%;
  margin:auto;
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 1500px) and (min-width: 1075px) {
  .priority-4 {
    display:none
  }
}

@media screen and (max-width: 1075px) and (min-width: 700px) {
  .priority-4, .priority-3 {
    display:none
  }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  .priority-4, .priority-3, .priority-2 {
    display:none
  }
}

@media screen and (max-width: 500px) {
  .priority-4, .priority-3, .priority-2, .priority-1 {
    display:none
  }
}

#logout, #login {
  float:right;
  margin: 0 5%;
}

#addissue {
  background-color: whitesmoke;
  border-radius: 8px;
}

.headertext {
  font-family: "Lucida Console", monospace;
  font-size: xxx-large;
  margin: 0;
}

.subtitle {
  margin: 5px;
  margin-bottom: 20px;
}

.add_issue_div {
  background-color: whitesmoke;
  display: block;
  text-align: center;
  border-radius: 8px;
  width: 500px;
  margin: auto;
}

.pure-u-1 {
  margin-top: 15px;
  float: center;
}

#issueForm {
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 1200px;
}

#issue_div {
  text-align: center;
}

#issueForm label {
  min-width: 200px;
  max-width: 450px;
  width: 90%;
  margin: 15px 5% 5px;
}

#inGridTextArea {
  min-width: 200px;
  max-width: 550px;
  width: 90%;
  margin: 0px 5%;
}

#issueForm input {
  min-width: 200px;
  max-width: 550px;
  width: 90%;
  margin: 0px 5%;
}

#issueForm select {
  min-width: 200px;
  max-width: 550px;
  width: 90%;
  margin: 0px 5%;
}

#issueForm button {
  display: block;
  margin: auto;
  width: 200px;
  background-color: whitesmoke;
  color: grey;
  margin-top: 25px;
  border-radius: 8px;
}

#issueForm legend {
  display: block;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

#outOfGridTextArea {
  min-width: 200px;
  width: 100%;
  margin: 0px 2.5%;
  max-width: 1140px;
}

footer {

  margin:auto;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: cadetblue;
}
