body #menu {
    border-bottom: 2px lightblue solid;
    background-color: rgba(10, 169, 255, 0.25);
}

body div#content {
    padding:1em;
}

.buttons {
	border: hidden;
}

.button-header {
	visibility: collapse;
	border: hidden;
}

.pure-form {
	width: 0%;
	margin-left: 50em;
}

.disabled{
	color:black;
	background-color:#0000;
	border: 0px solid;
	opacity:1;
}

select.disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select.disabled::-ms-expand {
    display: none;
}
