{% extends "parent.html" %}
{% block title %}Add an Issue{% endblock %}

{% block content %}
{% set prio = ["Low","Medium","High","Urgent"] %}
{% set status = ["Open","Closed","In Progress"] %}

<div id="issue_div">
  <form id="issueForm" class="pure-form pure-form-stacked" method="post" action="postIssueEntry">
    <fieldset>
      <legend>Add Issue</legend>
      <div class="pure-g">

        <div class="pure-u-1 pure-u-md-1-2">
          <label for="issue">Issue</label>
          <textarea id="inGridTextArea" name="issue" rows="2" cols="45" wrap="soft" required></textarea>

          <label for="priority">Priority</label>
          <select name="priority" required>
            {% for p in prio %}
    				    <option value="{{p}}">{{p}}</option>
    			  {% endfor %}
          </select>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <label for="assignee">Assignee</label>
          <input type="text" name="assignee" required/>
          <br>
          <label for="status">Status</label>
          <select name="status" required>
            {% for s in status %}
    				    <option value="{{s}}">{{s}}</option>
    			  {% endfor %}
          </select>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <label for="opened_on">Opened On</label>
          <input type="date" name="opened_on" required/>

          <label for="opened_by">Opened By</label>
          <input type="text" name="opened_by" required/>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <label for="closed_on">Closed On</label>
          <input type="date" name="closed_on" />

          <label for="closed_by">Closed By</label>
          <input type="text" name="closed_by" />
        </div>
      </div>

      <label for="description" style = "margin:15px 2.5% 5px;">Description</label>
      <textarea id="outOfGridTextArea" name="description" rows="3" wrap="soft" maxlength="2500"></textarea>

      <button type="submit" class="pure-button pure-button-primary" style="text-align: center;">Submit</button>
    </fieldset>
  </form>
</div>

{% endblock %}
