{% extends "parent.html" %}
{% block title %}People{% endblock %}
{% block content %}
<table class="pure-table">
    <thead style = "border-right-style: hidden">
        <tr>
            <th>Number</th>
            <th>Issue</th>
            <th>Priority</th>
            <th>Opened On</th>
            <th>Opened By</th>
            <th>Assignee</th>
            <th>Closed On</th>
            <th>Closed By</th>
            <th>Status</th>
            <th class = "button-header"> </th>
        </tr>
    </thead>
    <tbody>
   	{% for r in results %}
   		<tr>
   			<td> {{r.id}} </td>
   			<td> {{r.issue}} </td>
   			<td> {{r.priority}} </td>
   			<td> {{r.opened_on}} </td>
   			<td> {{r.opened_by}} </td>
   			<td> {{r.assignee}} </td>
   			<td> {{r.closed_on}} </td>
   			<td> {{r.closed_by}} </td>
   			<td> {{r.status}} </td>
        <td class = "buttons"><button class="pure-button pure-button-primary" onclick = "edit({{r.id}},this.parent)">Edit</button>
        <button class="pure-button pure-button-primary">Delete</button></td>
   		</tr>
   	{% endfor %}
    </tbody>
{% endblock %}