<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>

  <link rel="stylesheet" href="/static/main.css">

  <title> {% block title %}{% endblock %} | Issue Tracker</title>
</head>

<body>
  <div >
    <div id="menu" style="background-color:cadetblue; padding: 1.5px;">
      <div class="pure-menu">
        <ul class="pure-menu-horizontal">
          <li class="pure-menu-item">
          {% if session.profile %}
            <a href="{{ url_for("issues") }}" class="pure-menu-link" style="color:white;">Issue Table</a>
          {% else %}
            <a href="{{ url_for("issues_guest") }}" class="pure-menu-link" style="color:white;">Issue Table</a>
          </li>
          {% endif %}

          {% if session.profile %}
            <li class="pure-menu-item" id="logout">
              <a href="{{ url_for("logout") }}" class="pure-menu-link">Logout</a>
            </li>
          {% else %}
            <li class="pure-menu-item" id="login">
              <a href="{{ url_for("login") }}" class="pure-menu-link">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div style="margin:auto; text-align:center;">
      <h1 class = "headertext">Issue Tracker</h1>
      <p class = "subtitle">a tool for tracking your program's bugs</p>
    </div>
  </div>


  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  {% block scripts %}
  {% endblock %}

  <footer>
    <p>Created by The Blueberries, &#169; 2021<p>
  </footer>

</body>
</html>
